.circle {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
}

.rectangle {
  width: 100px;
  height: 150px;
  background-color: red;
}

.square {
  width: 100px;
  height: 100px;
  background-color: red;
}
